html{
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Font Name', sans-serif;
  }

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
.container{
    background-color: rgb(0, 162, 255);
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 70%;
    border-radius: 12px;
    padding: 1rem;
}
.container h1{
    text-align: center;
    color: aliceblue;

}
.overbody{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}
.chat-container{
    position: relative;
    width: 100%;
    height: 100%;
    margin-bottom: 5px;
    border-radius: 12px;
}
.chat-box{
    border-radius: 12px;
    position: absolute;
    overflow-y:scroll;
    width: 100%;
    height: 100%;
    top: 0px; 
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgb(58, 66, 77);
}
.chat-box ul{
    display: flex;
    flex-direction: column;
}
.chat-box ul li{
    list-style: none;
    font-size: x-small;
    width: 45%;
    height: auto;
    display: flex;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
    color: #000;
    font-size: 16px;
    overflow-wrap: break-word;
    display: block;
}

.chatsright{
    background-color: rgb(117, 186, 247);
    float: right;
}
.chatsright p{
    width: 100%;
    height: auto;
}
.chatsleft p{
    width: 100%;
    height: auto;
}
.chatsleft{
    float: left;
    background-color: rgb(247, 250, 252);
    margin-left: 5px;
}

.chat-time{
    display: flex;
    justify-content: flex-end;
}

.message-box{
    background-color: white;
    padding: 1rem;
    border-radius: 16px;
}
.message-box input{
    border: none;
    width: 95%;
    padding: 8px;
}
.message-box input:focus{
    outline: none;
}
.message-box button{
    border-radius: 25px;
    padding: 1px;
    border: 0;
    color: rgb(8, 185, 255);
    background-color:transparent;
}
.message-box button:hover{
    color: rgb(4, 115, 158);
    cursor: pointer;
}
.chat-box::-webkit-scrollbar {
    width: 4px;
  }
.chat-box::-webkit-scrollbar-track {
     background: transparent; 
  }
.chat-box::-webkit-scrollbar-thumb {
    background: #61c2fa71; 
    border-radius:10px;
  }
.chat-box::-webkit-scrollbar-thumb:hover {
    background: #55555575; 
  } 
  